.tab-bar {
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.05);
    padding: 0;
}

.file-item {
    padding-top: 5px;
}
.file-item:hover {
    background: rgba(0, 0, 0, 0.05);
    filter: brightness(105%);
}
.file-thumb {
    filter: drop-shadow(3px 3px 3px rgba(0,0,0,0.25));
}
.file-item-label {
    text-shadow: 1px 1px #83b97f52;
/*    font-weight: bold;*/
}

.overlay {
    border: 1px solid rgba(0, 0, 0, 0.3);
    /*min-width: 55vw;*/
    min-width: 250px;
    /*min-height: 30px; */
}

.overlay {
    background: rgba(255, 255, 255, 0.95); 
}

.overlay:not(:hover):not(:focus-within) {
    background: rgba(255, 255, 255, 0.55); 
    filter: opacity(60%);
}


.filter {
    /*width: 100%; */
    border-radius: 0;
}


.panel-item:selected, .panel-item:hover {
    font-weight: bold;
}
.panel-item:hover  .panel-item-icon {
    font-weight: bold;
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.3));
}

/*
.btn-bookmark.enabled {
    background-color: black;
}*/

.btn-bookmark.enabled:hover,
.btn-bookmark:not(.enabled):not(:hover) {
    filter: opacity(30%);
}

/*
.btn-bookmark:not(.active),.btn-bookmark:hover:not(.active) {
}*/

.footer {
    border-top: 1px solid rgba(0, 0, 0, 0.15);
}
/*
.btn-next-page {
    filter: drop-shadow(2px 1px 1px rgba(0,0,0,0.25));
}
.btn-prev-page {
    filter: drop-shadow(-2px 1px 1px rgba(0,0,0,0.25));
}*/

menuitem,
menuitem,
popover {
/*.context-menu {*/
    border-radius: 0px;
    background-color: transparent;
    background-color: white;
    /* background-color: rgba(0, 0, 0, 0.15); */
}

row.unmounted {
    filter: opacity(0.65);
}


/*tabbox { background: black; } */
tabboxchild { 
    background-color: rgba(0, 0, 0, 0.025);
    border-radius: 0;
 }
